.About_Us{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    .details{
        border: solid 1px black;
        padding: 5px;
        text-align: center;

        .link{
            margin: 5px;
        }
    }
}